## Task:2
## Employee turnover prediction
### Use a dataset of employee information and build a model that can predict which employees are most likely to leave the company.

# Importing library

In [ ]:
import pandas as pd

# Importing Dataset

In [35]:
data= pd.read_csv("C:/Users/0863a/OneDrive/Desktop/Data analyst/data_scientist_task_1_house_price_prediction/WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [53]:
## checking the shape of data
data.shape

(1470, 35)

In [36]:
## displaying data
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [37]:
## checking for null count and datatype of data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [38]:
#checking for columns in data
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [39]:
## getting the value count 
data['BusinessTravel'].value_counts()

Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

In [40]:
## getting the value count 
data['Department'].value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [41]:
## getting the value count 
data['EducationField'].value_counts()

Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: EducationField, dtype: int64

In [42]:
## getting the value count 
data['JobRole'].value_counts()

Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: JobRole, dtype: int64

In [43]:
## getting the value count 
data['Over18'].value_counts()

Y    1470
Name: Over18, dtype: int64

In [44]:
## getting the value count 
data['OverTime'].value_counts()

No     1054
Yes     416
Name: OverTime, dtype: int64

## Applying One Hot Encoding on Categorical columns

In [128]:
one_hot_encoded_data = pd.get_dummies(data, columns = ['Attrition', 'Gender','MaritalStatus','BusinessTravel','Department','EducationField','JobRole','Over18','OverTime'])
print(one_hot_encoded_data)

      Age  DailyRate  DistanceFromHome  Education  EmployeeCount  \
0      41       1102                 1          2              1
1      49        279                 8          1              1
2      37       1373                 2          2              1
3      33       1392                 3          4              1
4      27        591                 2          1              1
...   ...        ...               ...        ...            ...
1465   36        884                23          2              1
1466   39        613                 6          1              1
1467   27        155                 4          3              1
1468   49       1023                 2          3              1
1469   34        628                 8          3              1

      EmployeeNumber  EnvironmentSatisfaction  HourlyRate  JobInvolvement  \
0                  1                        2          94               3
1                  2                        3          61               2
2                  4                        4          92               2
3                  5                        4          56               3
4                  7                        1          40               3
...              ...                      ...         ...             ...
1465            2061                        3          41               4
1466            2062                        4          42               2
1467            2064                        2          87               4
1468            2065                        4          63               2
1469            2068                        2          82               4

      JobLevel  JobSatisfaction  MonthlyIncome  MonthlyRate  \
0            2                4           5993        19479
1            2                2           5130        24907
2            1                3           2090         2396
3            1                3           2909        23159
4            1                2           3468        16632
...        ...              ...            ...          ...
1465         2                4           2571        12290
1466         3                1           9991        21457
1467         2                2           6142         5174
1468         2                2           5390        13243
1469         2                3           4404        10228

      NumCompaniesWorked  PercentSalaryHike  PerformanceRating  \
0                      8                 11                  3
1                      1                 23                  4
2                      6                 15                  3
3                      1                 11                  3
4                      9                 12                  3
...                  ...                ...                ...
1465                   4                 17                  3
1466                   4                 15                  3
1467                   1                 20                  4
1468                   2                 14                  3
1469                   2                 12                  3

      RelationshipSatisfaction  StandardHours  StockOptionLevel  \
0                            1             80                 0
1                            4             80                 1
2                            2             80                 0
3                            3             80                 0
4                            4             80                 1
...                        ...            ...               ...
1465                         3             80                 1
1466                         1             80                 1
1467                         2             80                 1
1468                         4             80                 0
1469                         1             80                 0

      TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
0                     8                      0                1
1                    10                      3                3
2                     7                      3                3
3                     8                      3                3
4                     6                      3                3
...                 ...                    ...              ...
1465                 17                      3                3
1466                  9                      5                3
1467                  6                      0                3
1468                 17                      3                2
1469                  6                      3                4

      YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
0                  6                   4                        0
1                 10                   7                        1
2                  0                   0                        0
3                  8                   7                        3
4                  2                   2                        2
...              ...                 ...                      ...
1465               5                   2                        0
1466               7                   7                        1
1467               6                   2                        0
1468               9                   6                        0
1469               4                   3                        1

      YearsWithCurrManager  Attrition_No  Attrition_Yes  Gender_Female  \
0                        5             0              1              1
1                        7             1              0              0
2                        0             0              1              0
3                        0             1              0              1
4                        2             1              0              0
...                    ...           ...            ...            ...
1465                     3             1              0              0
1466                     7             1              0              0
1467                     3             1              0              0
1468                     8             1              0              0
1469                     2             1              0              0

      Gender_Male  MaritalStatus_Divorced  MaritalStatus_Married  \
0               0                       0                      0
1               1                       0                      1
2               1                       0                      0
3               0                       0                      1
4               1                       0                      1
...           ...                     ...                    ...
1465            1                       0                      1
1466            1                       0                      1
1467            1                       0                      1
1468            1                       0                      1
1469            1                       0                      1

      MaritalStatus_Single  BusinessTravel_Non-Travel  \
0                        1                          0
1                        0                          0
2                        1                          0
3                        0                          0
4                        0                          0
...                    ...                        ...
1465                     0                          0
1466                     0                          0
1467                     0                          0
1468                     0                          0
1469                     0                          0

      BusinessTravel_Travel_Frequently  BusinessTravel_Travel_Rarely  \
0                                    0                             1
1                                    1                             0
2                                    0                             1
3                                    1                             0
4                                    0                             1
...                                ...                           ...
1465                                 1                             0
1466                                 0                             1
1467                                 0                             1
1468                                 1                             0
1469                                 0                             1

      Department_Human Resources  Department_Research & Development  \
0                              0                                  0
1                              0                                  1
2                              0                                  1
3                              0                                  1
4                              0                                  1
...                          ...                                ...
1465                           0                                  1
1466                           0                                  1
1467                           0                                  1
1468                           0                                  0
1469                           0                                  1

      Department_Sales  EducationField_Human Resources  \
0                    1                               0
1                    0                               0
2                    0                               0
3                    0                               0
4                    0                               0
...                ...                             ...
1465                 0                               0
1466                 0                               0
1467                 0                               0
1468                 1                               0
1469                 0                               0

      EducationField_Life Sciences  EducationField_Marketing  \
0                                1                         0
1                                1                         0
2                                0                         0
3                                1                         0
4                                0                         0
...                            ...                       ...
1465                             0                         0
1466                             0                         0
1467                             1                         0
1468                             0                         0
1469                             0                         0

      EducationField_Medical  EducationField_Other  \
0                          0                     0
1                          0                     0
2                          0                     1
3                          0                     0
4                          1                     0
...                      ...                   ...
1465                       1                     0
1466                       1                     0
1467                       0                     0
1468                       1                     0
1469                       1                     0

      EducationField_Technical Degree  JobRole_Healthcare Representative  \
0                                   0                                  0
1                                   0                                  0
2                                   0                                  0
3                                   0                                  0
4                                   0                                  0
...                               ...                                ...
1465                                0                                  0
1466                                0                                  1
1467                                0                                  0
1468                                0                                  0
1469                                0                                  0

      JobRole_Human Resources  JobRole_Laboratory Technician  JobRole_Manager  \
0                           0                              0                0
1                           0                              0                0
2                           0                              1                0
3                           0                              0                0
4                           0                              1                0
...                       ...                            ...              ...
1465                        0                              1                0
1466                        0                              0                0
1467                        0                              0                0
1468                        0                              0                0
1469                        0                              1                0

      JobRole_Manufacturing Director  JobRole_Research Director  \
0                                  0                          0
1                                  0                          0
2                                  0                          0
3                                  0                          0
4                                  0                          0
...                              ...                        ...
1465                               0                          0
1466                               0                          0
1467                               1                          0
1468                               0                          0
1469                               0                          0

      JobRole_Research Scientist  JobRole_Sales Executive  \
0                              0                        1
1                              1                        0
2                              0                        0
3                              1                        0
4                              0                        0
...                          ...                      ...
1465                           0                        0
1466                           0                        0
1467                           0                        0
1468                           0                        1
1469                           0                        0

      JobRole_Sales Representative  Over18_Y  OverTime_No  OverTime_Yes
0                                0         1            0             1
1                                0         1            1             0
2                                0         1            0             1
3                                0         1            0             1
4                                0         1            1             0
...                            ...       ...          ...           ...
1465                             0         1            1             0
1466                             0         1            1             0
1467                             0         1            0             1
1468                             0         1            1             0
1469                             0         1            1             0

[1470 rows x 57 columns]

In [129]:
## checking the shape of data it has increased the no of columns
one_hot_encoded_data.shape

(1470, 57)

In [130]:
## display.max_columns is used to display all columns present in data
pd.set_option('display.max_columns', None)

In [131]:
## displaying data
one_hot_encoded_data.head(5)

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition_No,Attrition_Yes,Gender_Female,Gender_Male,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,4,5993,19479,8,11,3,1,80,0,8,0,1,6,4,0,5,0,1,1,0,0,0,1,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1
1,49,279,8,1,1,2,3,61,2,2,2,5130,24907,1,23,4,4,80,1,10,3,3,10,7,1,7,1,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0
2,37,1373,2,2,1,4,4,92,2,1,3,2090,2396,6,15,3,2,80,0,7,3,3,0,0,0,0,0,1,0,1,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,1
3,33,1392,3,4,1,5,4,56,3,1,3,2909,23159,1,11,3,3,80,0,8,3,3,8,7,3,0,1,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1
4,27,591,2,1,1,7,1,40,3,1,2,3468,16632,9,12,3,4,80,1,6,3,3,2,2,2,2,1,0,0,1,0,1,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,1,0

In [55]:
## columns after applying one hot encoding
one_hot_encoded_data.columns

Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager', 'Attrition_No',
       'Attrition_Yes', 'Gender_Female', 'Gender_Male',
       'MaritalStatus_Divorced', 'MaritalStatus_Married',
       'MaritalStatus_Single', 'BusinessTravel_Non-Travel',
       'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely',
       'Department_Human Resources', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Human Resources',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Other',
       'EducationField_Technical Degree', 'JobRole_Healthcare Representative',
       'JobRole_Human Resources', 'JobRole_Laboratory Technician',
       'JobRole_Manager', 'JobRole_Manufacturing Director',
       'JobRole_Research Director', 'JobRole_Research Scientist',
       'JobRole_Sales Executive', 'JobRole_Sales Representative', 'Over18_Y',
       'OverTime_No', 'OverTime_Yes'],
      dtype='object')

## Splitting the columns

In [103]:
#features or dependent variable
x=one_hot_encoded_data[['Age', 'DailyRate', 'DistanceFromHome', 'Education', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager','Gender_Female', 'Gender_Male',
       'MaritalStatus_Divorced', 'MaritalStatus_Married',
       'MaritalStatus_Single', 'BusinessTravel_Non-Travel',
       'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely',
       'Department_Human Resources', 'Department_Research & Development',
       'Department_Sales', 'EducationField_Human Resources',
       'EducationField_Life Sciences', 'EducationField_Marketing',
       'EducationField_Medical', 'EducationField_Other',
       'EducationField_Technical Degree', 'JobRole_Healthcare Representative',
       'JobRole_Human Resources', 'JobRole_Laboratory Technician',
       'JobRole_Manager', 'JobRole_Manufacturing Director',
       'JobRole_Research Director', 'JobRole_Research Scientist',
       'JobRole_Sales Executive', 'JobRole_Sales Representative', 'Over18_Y',
       'OverTime_No', 'OverTime_Yes']]

In [105]:
## target variable
y=one_hot_encoded_data[['Attrition_No','Attrition_Yes']]

## Applying Random Forest Classifier

In [143]:
## importing train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2, random_state=42)
## importing Random forest classifier
from sklearn.ensemble import RandomForestClassifier
regressor=RandomForestClassifier()
## fitting our model
regressor.fit(x_train,y_train)
## predicting model
y_pred= regressor.predict(x_test)
## checking for accuracy 
accuracy = accuracy_score(y_test, y_pred)
## checking the score
regressor.score(x_test,y_test)

0.8775510204081632

## Applying Shuffle Split

In [144]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
cv = ShuffleSplit(n_splits=5,test_size=0.2,random_state=42)
cross_val_score(RandomForestClassifier(),x,y,cv=cv)

array([0.8707483 , 0.84693878, 0.8537415 , 0.84693878, 0.86734694])

## Cheacking the accuracy of model

In [145]:
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score
print("r2 score: ",r2_score(y_test,y_pred))
print("Mean Absolute Error: ", metrics.mean_absolute_error(y_test,y_pred))
print("Mean Squared Error: ", metrics.mean_squared_error(y_test,y_pred))
print("Accuracy:", accuracy)

r2 score:  -0.04947209653092011
Mean Absolute Error:  15.671768707482993
Mean Squared Error:  0.12074829931972789
Accuracy: 0.8775510204081632

## Checking our model`s Prediction

In [146]:
predictedturnover = regressor.predict([[41,1102,1,2,1,1,2,94,3,2,4,5993,19479,8,11,3,1,80,0,8,0,1,6,4,0,5,1,0,0,0,1,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1]])

print(predictedturnover)

[[0 1]]

C:\Users\0863a\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

## Applying Decision Tree Classifier

In [147]:
## importing train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2, random_state=42)
## importing decision tree classifier
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
## fitting our model
dtree = dtree.fit(x_train, y_train)
## predicting model
y_pred= dtree.predict(x_test)
## checking for accuracy 
accuracy = accuracy_score(y_test, y_pred)
## checking the score 
dtree.score(x_test,y_test)

0.7619047619047619

## Applying Shuffle Split

In [148]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
cv = ShuffleSplit(n_splits=5,test_size=0.2,random_state=42)
cross_val_score(DecisionTreeClassifier(),x,y,cv=cv)

array([0.78231293, 0.76870748, 0.79931973, 0.79591837, 0.81632653])

## Cheacking the accuracy of model

In [149]:
## importing metrics and r2 score
from sklearn import metrics
from sklearn.metrics import r2_score
print("r2 score: ",r2_score(y_test,y_pred))
print("Mean Absolute Error: ", metrics.mean_absolute_error(y_test,y_pred))
print("Mean Squared Error: ", metrics.mean_squared_error(y_test,y_pred))
print("Accuracy: ", metrics.accuracy_score(y_test,y_pred))

r2 score:  -1.0693815987933637
Mean Absolute Error:  30.476190476190474
Mean Squared Error:  0.23809523809523808
Accuracy:  0.7619047619047619

## Checking our model`s Prediction

In [126]:
predictedturnover = dtree.predict([[41,1102,1,2,1,1,2,94,3,2,4,5993,19479,8,11,3,1,80,0,8,0,1,6,4,0,5,1,0,0,0,1,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1]])

print(predictedturnover)

[[0 1]]

C:\Users\0863a\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(